@{
    ViewData["Title"] = "Register";
}
@model TaskListYangBotWeb.Models.UserWebRegister

<div class="w-100 p-4 d-flex justify-content-center pb-4">
    <form asp-action="Index" asp-controller="Register" method="post" asp-route-roleId="2">
        <div class="form-outline mb-4">
            <label class="form-label" asp-for="Username">Username</label>
            <input type="text" asp-for="Username" id="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" asp-for="Password">Password</label>
            <input type="password" asp-for="Password" id="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" asp-for="ConfirmPassword">Password</label>
            <input type="password" asp-for="ConfirmPassword" id="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-block mb-3">Sign-up</button>
        </div>
        <div class="text-center">
            <p>Have already an account? <a asp-area="" asp-controller="Login" asp-action="Index">Login here</a></p>
        </div>
    </form>
</div>