

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" id="profile" asp-controller="Account" asp-action="Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link" id="profile" asp-controller="Account" asp-action="Index">Profile</a></li>
</ul>
