<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Меню
    </a>

    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-controller="Account" asp-action="GetUsers">Список пользователей</a></li>
        <li><a class="dropdown-item" asp-controller="Account" asp-action="GetMessages">Сообщения пользователей</a></li>
    </ul>
    <br />
    <a href="javascript:history.go(-1)">Назад</a>
</div>