@{
    ViewData["Title"] = "Favorite tasks";
    @model IEnumerable<TaskListYangBotWeb.Models.FavoriteTask>;
}
<partial name="_ManageNav" />
<br />
<table class="table table-striped" border="1">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.User.UserName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
            </tr>
        }

    </tbody>
</table>